In [12]:
import numpy as np
import pandas as pd
from datetime import datetime

In [13]:
# 역명 수정하고 euc-kr 형식을 utf-8로 인코딩함
# 파일 이름은 데이터 가공한 날짜포함
# 신창(순천향대) 이런식의 역명을 신창 이런 방식으로 수정
# 후에 시각화 단계에서 발생하는 오류 방지위함
df_st = pd.read_csv('../data/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv',encoding='euc-kr')
df_st['지하철역'] = df_st['지하철역'].str.replace('(', ' ',regex=False,).str.split().str[0]
now = datetime.now()
f_date = now.strftime('%Y%m%d')
df_st.to_csv(f'../data/{f_date}_info.csv',index=False,encoding='utf-8')

In [14]:
# 원본소스 불러와서 데이터 프레임 만듬
df = pd.read_csv(f'../data/{f_date}_info.csv')
df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202304,1호선,동대문,749,13,10603,2210,9478,6645,14847,...,8762,524,2480,1,186,0,0,0,0,20230503
1,202304,1호선,동묘앞,204,3,2738,993,3544,4933,7427,...,3998,89,1634,2,295,0,0,0,0,20230503
2,202304,1호선,서울역,673,28,7682,8982,13316,56520,42256,...,13801,2424,2423,0,179,0,0,0,0,20230503
3,202304,1호선,시청,135,5,2141,4360,3966,24036,7878,...,4147,345,923,0,14,0,0,0,0,20230503
4,202304,1호선,신설동,409,5,8266,2287,9839,8406,21340,...,9184,395,1967,0,0,1,1,0,0,20230503

In [8]:
# 결측치 확인
df.isna().sum().sum()

0

In [78]:
# 테스트 코드 - 사용 안함
# 일부 항목만 추출,가공
df1 = df[['사용월','호선명','지하철역',
            '06시-07시 승차인원','07시-08시 승차인원','08시-09시 승차인원',
            '17시-18시 승차인원','18시-19시 승차인원','19시-20시 승차인원',
            '06시-07시 하차인원','07시-08시 하차인원','08시-09시 하차인원',
            '17시-18시 하차인원','18시-19시 하차인원','19시-20시 하차인원']].copy()
df1['출근시간 승차인원'] = df1.iloc[:,3:6].sum(axis=1)
df1['퇴근시간 승차인원'] = df1.iloc[:,6:9].sum(axis=1)
df1['출근시간 하차인원'] = df1.iloc[:,9:12].sum(axis=1)
df1['퇴근시간 하차인원'] = df1.iloc[:,12:15].sum(axis=1)
df1 = df1[['사용월', '호선명', '지하철역', '출근시간 승차인원', '출근시간 하차인원', '퇴근시간 승차인원', '퇴근시간 하차인원']]
df1.to_csv('data/1호선서울.csv',index=False,encoding='utf-8')
df1.head()

      사용월  호선명 지하철역  출근시간 승차인원  출근시간 하차인원  퇴근시간 승차인원  퇴근시간 하차인원
0  202304  1호선  동대문      44094      41009      69531      63118
1  202304  1호선  동묘앞      22187      37540      70599      35355
2  202304  1호선  서울역     127270     390406     500389     253706
3  202304  1호선   시청      22120     288474     317135      69067
4  202304  1호선  신설동      62708      87736     111225      76614

In [83]:
# 1호선
# 1호선
# 천안방면 경부선
# 광운대 방면 경원선
# 부천 방면 경인선
df2 = df[df['호선명']== '경부선'].copy()
df2 = df2[['사용월','호선명','지하철역',
            '06시-07시 승차인원','07시-08시 승차인원','08시-09시 승차인원',
            '17시-18시 승차인원','18시-19시 승차인원','19시-20시 승차인원',
            '06시-07시 하차인원','07시-08시 하차인원','08시-09시 하차인원',
            '17시-18시 하차인원','18시-19시 하차인원','19시-20시 하차인원']].copy()
df2['출근시간 승차인원'] = df2.iloc[:,3:6].sum(axis=1)
df2['퇴근시간 승차인원'] = df2.iloc[:,6:9].sum(axis=1)
df2['출근시간 하차인원'] = df2.iloc[:,9:12].sum(axis=1)
df2['퇴근시간 하차인원'] = df2.iloc[:,12:15].sum(axis=1)
df2 = df2[['사용월', '호선명', '지하철역', '출근시간 승차인원', '출근시간 하차인원', '퇴근시간 승차인원', '퇴근시간 하차인원']]
df2.to_csv('data/1호선_경부선.csv',index=False,encoding='utf-8')
df2.head(10)

        사용월  호선명     지하철역  출근시간 승차인원  출근시간 하차인원  퇴근시간 승차인원  퇴근시간 하차인원
326  202304  경부선  가산디지털단지      40958     220894     221209      76798
327  202304  경부선       관악      83555      21687      31587      71476
328  202304  경부선       광명      26076      17030      28159      26900
329  202304  경부선       구로      96246     116424     135867     114884
330  202304  경부선       군포      48264      83727      71272      39716
331  202304  경부선       금정     230217     154614     176855     247162
332  202304  경부선     금천구청     111349      50531      55359     112234
333  202304  경부선       남영      39064      90038      89764      59469
334  202304  경부선      노량진      50782      28965      52110      89209
335  202304  경부선       당정      61998      28925      33955      53131

In [88]:
# 경원선
df3 = df[df['호선명']== '경원선'].copy()
df3 = df3[['사용월','호선명','지하철역',
            '06시-07시 승차인원','07시-08시 승차인원','08시-09시 승차인원',
            '17시-18시 승차인원','18시-19시 승차인원','19시-20시 승차인원',
            '06시-07시 하차인원','07시-08시 하차인원','08시-09시 하차인원',
            '17시-18시 하차인원','18시-19시 하차인원','19시-20시 하차인원']].copy()
df3['출근시간 승차인원'] = df3.iloc[:,3:6].sum(axis=1)
df3['퇴근시간 승차인원'] = df3.iloc[:,6:9].sum(axis=1)
df3['출근시간 하차인원'] = df3.iloc[:,9:12].sum(axis=1)
df3['퇴근시간 하차인원'] = df3.iloc[:,12:15].sum(axis=1)
df3 = df3[['사용월', '호선명', '지하철역', '출근시간 승차인원', '출근시간 하차인원', '퇴근시간 승차인원', '퇴근시간 하차인원']]
df3.to_csv('data/1호선_경원선.csv',index=False,encoding='utf-8')
df3.head(10)

        사용월  호선명   지하철역  출근시간 승차인원  출근시간 하차인원  퇴근시간 승차인원  퇴근시간 하차인원
365  202304  경원선     가능      60437      26963      28955      55819
366  202304  경원선    광운대      71819      31219      40536      64371
367  202304  경원선     녹양      42759      17053      20953      39274
368  202304  경원선     녹천      50355      11700      13673      37553
369  202304  경원선     덕계      49756      15645      16309      39202
370  202304  경원선     덕정      48179      36874      35420      44232
371  202304  경원선     도봉      49142      17383      25374      46554
372  202304  경원선    도봉산      52146      16100      43988      29123
373  202304  경원선    동두천      14991      19372      14377      14473
374  202304  경원선  동두천중앙      22821      16649      16710      20254

In [ ]:
# 사용할 데이터 06-07 ~ 08-09 출근시간, 17~19시 퇴근시간, 그 사이 시간은 어떻게?
# 주말 승하차는 다른 데이터 가공해서 사용
# 같은 역 다른 노선일 경우 (ex:수원역 1호선, 수인분당선) 처리 어떻게 할껀지 -> 아마도 합한다음 사용할듯?
# 출근시간, 퇴근시간, ?시간, 총 승하차 인원수 표현 필요
# 1) 나눠진 노선 하나로 합치기
# 2) 사용할 데이터로 가공

In [37]:
# 반복문 사용 테스트 코드
df1 = df[df['호선명']=='1호선'].copy()
df2 = df[df['호선명']=='경부선'].copy()
df3 = df[df['호선명']=='경원선'].copy()
df_list = { '1호선': df1, '경부선': df2, '경원선': df3}
for line, frame in df_list.items():
    frame = df[df['호선명']==line].copy()
    frame = frame[['사용월','호선명','지하철역', 
                '06시-07시 승차인원','07시-08시 승차인원','08시-09시 승차인원', 
                '17시-18시 승차인원','18시-19시 승차인원','19시-20시 승차인원', 
                '06시-07시 하차인원','07시-08시 하차인원','08시-09시 하차인원', 
                '17시-18시 하차인원','18시-19시 하차인원','19시-20시 하차인원']].copy()
    frame['출근시간 승차인원'] = frame.iloc[:,3:6].sum(axis=1)
    frame['퇴근시간 승차인원'] = frame.iloc[:,6:9].sum(axis=1)
    frame['출근시간 하차인원'] = frame.iloc[:,9:12].sum(axis=1)
    frame['퇴근시간 하차인원'] = frame.iloc[:,12:15].sum(axis=1)
    frame = frame[['사용월', '호선명', '지하철역', '출근시간 승차인원', '출근시간 하차인원', '퇴근시간 승차인원', '퇴근시간 하차인원']]
    frame.to_csv(f'data/{line}.csv',index=False,encoding='utf-8')

In [5]:
# 데이터 확인
df_test1 = pd.read_csv('data/1호선.csv')
df_test2 = pd.read_csv('data/경부선.csv')
dg = df_test1.groupby(['사용월','지하철역'])[['출근시간 승차인원', '출근시간 하차인원', '퇴근시간 승차인원', '퇴근시간 하차인원']].mean().astype(int)
dg.tail(15)

                     출근시간 승차인원  출근시간 하차인원  퇴근시간 승차인원  퇴근시간 하차인원
사용월    지하철역
202303 제기동               68022      69626     113550      81836
       종각                22024     428980     493870     130405
       종로3가              19148     115887     269538     113714
       종로5가              20308     165785     258963      96073
       청량리(서울시립대입구)     106805      80178     129055     129717
202304 동대문               44094      41009      69531      63118
       동묘앞               22187      37540      70599      35355
       서울역              127270     390406     500389     253706
       시청                22120     288474     317135      69067
       신설동               62708      87736     111225      76614
       제기동               65019      67338     104774      75169
       종각                22100     388820     456204     118043
       종로3가              19540     107616     246958     106435
       종로5가              20030     154045     239155      90856
       청량리(서울시립대입구)     102064      76473     119810     121877

In [6]:
df_test1.head()

      사용월  호선명 지하철역  출근시간 승차인원  출근시간 하차인원  퇴근시간 승차인원  퇴근시간 하차인원
0  202304  1호선  동대문      44094      41009      69531      63118
1  202304  1호선  동묘앞      22187      37540      70599      35355
2  202304  1호선  서울역     127270     390406     500389     253706
3  202304  1호선   시청      22120     288474     317135      69067
4  202304  1호선  신설동      62708      87736     111225      76614

In [5]:
# 한번에 실행하는 코드
# 서울지역 1호선, 경부선, 경원선, 구로에서 인천방향은 제외함
# 시간 나누는 기준 정해야함
# 02시 이후로는 이용객이 거의 없어서 총합에서 제외함
# 반복문 사용하기 위해 dataframe 선언
df1 = df[df['호선명']=='1호선'].copy()
df2 = df[df['호선명']=='경부선'].copy()
df3 = df[df['호선명']=='경원선'].copy()
df4 = df[df['호선명']=='경인선'].copy()
df5 = df[df['호선명']=='장항선'].copy()
# 사용할 dictionary 만듬
df_dict = { '1호선': df1, '경부선': df2, '경원선': df3, '경인선': df4, '장항선': df5}
# 반복문 사용해서 데이터 가공
# 저장될 csv 파일 이름은 호선명, 인코딩 방식은 utf-8
for line, frame in df_dict.items():
    # frame = df[df['호선명']==line].copy()
    frame['새벽 승차인원'] = frame.loc[:,['04시-05시 승차인원','05시-06시 승차인원']].sum(axis=1)
    frame['새벽 하차인원'] = frame.loc[:,['04시-05시 하차인원','05시-06시 하차인원']].sum(axis=1)

    frame['출근시간 승차인원'] = frame.loc[:,['06시-07시 승차인원','07시-08시 승차인원','08시-09시 승차인원']].sum(axis=1)
    frame['09-16시 승차인원'] = frame.loc[:,['09시-10시 승차인원','10시-11시 승차인원','11시-12시 승차인원',
                                            '12시-13시 승차인원','13시-14시 승차인원','14시-15시 승차인원','16시-17시 승차인원']].sum(axis=1)
    frame['퇴근시간 승차인원'] = frame.loc[:,['17시-18시 승차인원','18시-19시 승차인원','19시-20시 승차인원']].sum(axis=1)
    frame['야간 승차인원'] = frame.loc[:,['20시-21시 승차인원','21시-22시 승차인원','22시-23시 승차인원',
                                        '23시-24시 승차인원','00시-01시 승차인원','01시-02시 승차인원']].sum(axis=1)
    frame['출근시간 하차인원'] = frame.loc[:,['06시-07시 하차인원','07시-08시 하차인원','08시-09시 하차인원']].sum(axis=1)
    frame['퇴근시간 하차인원'] = frame.loc[:,['17시-18시 하차인원','18시-19시 하차인원','19시-20시 하차인원']].sum(axis=1)
    frame['09-16시 하차인원'] = frame.loc[:,['09시-10시 하차인원','10시-11시 하차인원','11시-12시 하차인원',
                                            '12시-13시 하차인원','13시-14시 하차인원','14시-15시 하차인원','16시-17시 하차인원']].sum(axis=1)
    frame['야간 하차인원'] = frame.loc[:,['20시-21시 하차인원','21시-22시 하차인원','22시-23시 하차인원',
                                        '23시-24시 하차인원','00시-01시 하차인원','01시-02시 하차인원']].sum(axis=1)
    frame['총 승차인원'] = frame.loc[:,['새벽 승차인원','출근시간 승차인원','09-16시 승차인원','야간 승차인원']].sum(axis=1)
    frame['총 하차인원'] = frame.loc[:,['새벽 하차인원','출근시간 하차인원','09-16시 하차인원','야간 하차인원']].sum(axis=1)
    frame = frame[['사용월', '호선명', '지하철역', '출근시간 승차인원', '출근시간 하차인원', 
                    '09-16시 승차인원', '09-16시 하차인원', '퇴근시간 승차인원', '퇴근시간 하차인원',
                    '새벽 승차인원','새벽 하차인원','야간 승차인원', '야간 하차인원','총 승차인원','총 하차인원']]
    frame.to_csv(f'data/main/{line}.csv',index=False,encoding='utf-8')

In [ ]:
# 사용할 노선과 합쳐야 하는 노선 목록(중복역은 합계 후 중복 삭제예정)
# 1호선:서울지하철1호선(청량리~서울역), 경원선(소요산~청량리), 경부선(서울~천안/서동탄/광명), 장항선(천안~신창), 경인선(구로~인천)
# 2호선, 5호선, 6호선, 7호선, 8호선
# 3호선: 서울지하철3호선(지축~오금), 일산선(대화~지축)
# 4호선: 서울지하철4호선(당고개~남태령), 과천선(남태령~금정), 안산선(금정~오이도)
# 9호선: 9호선, 9호선(2~3)단계
# 수인분당선: 수인선(인천~수원), 분당선()
# 공항철도
# 신림선, 우이신설선
# 신분당선 데이터 없음, 김포 골드라인 없음, 용인 에버 없음

# 호선 분리하기 ex) 1호선, 경원선, 수인선 ......

# 월별 평일 승하차 각각 합계, 월별 주말 승하차 각각 합계

# 월별로 처리한 데이터 csv로 각 년도 폴더에 저장

In [11]:
# 호선명 리스트로 추출해서 사용 
lines = df.호선명.unique().tolist()
df_dict = {line: df[df['호선명'] == line].copy() for line in lines}
for line, frame in df_dict.items():
    # frame = df[df['호선명']==line].copy()
    frame['새벽 승차인원'] = frame.loc[:,['04시-05시 승차인원','05시-06시 승차인원']].sum(axis=1)
    frame['새벽 하차인원'] = frame.loc[:,['04시-05시 하차인원','05시-06시 하차인원']].sum(axis=1)

    frame['출근시간 승차인원'] = frame.loc[:,['06시-07시 승차인원','07시-08시 승차인원','08시-09시 승차인원']].sum(axis=1)
    frame['09-16시 승차인원'] = frame.loc[:,['09시-10시 승차인원','10시-11시 승차인원','11시-12시 승차인원',
                                            '12시-13시 승차인원','13시-14시 승차인원','14시-15시 승차인원','16시-17시 승차인원']].sum(axis=1)
    frame['퇴근시간 승차인원'] = frame.loc[:,['17시-18시 승차인원','18시-19시 승차인원','19시-20시 승차인원']].sum(axis=1)
    frame['야간 승차인원'] = frame.loc[:,['20시-21시 승차인원','21시-22시 승차인원','22시-23시 승차인원',
                                        '23시-24시 승차인원','00시-01시 승차인원','01시-02시 승차인원']].sum(axis=1)
    frame['출근시간 하차인원'] = frame.loc[:,['06시-07시 하차인원','07시-08시 하차인원','08시-09시 하차인원']].sum(axis=1)
    frame['퇴근시간 하차인원'] = frame.loc[:,['17시-18시 하차인원','18시-19시 하차인원','19시-20시 하차인원']].sum(axis=1)
    frame['09-16시 하차인원'] = frame.loc[:,['09시-10시 하차인원','10시-11시 하차인원','11시-12시 하차인원',
                                            '12시-13시 하차인원','13시-14시 하차인원','14시-15시 하차인원','16시-17시 하차인원']].sum(axis=1)
    frame['야간 하차인원'] = frame.loc[:,['20시-21시 하차인원','21시-22시 하차인원','22시-23시 하차인원',
                                        '23시-24시 하차인원','00시-01시 하차인원','01시-02시 하차인원']].sum(axis=1)
    frame['총 승차인원'] = frame.loc[:,['새벽 승차인원','출근시간 승차인원','09-16시 승차인원','야간 승차인원']].sum(axis=1)
    frame['총 하차인원'] = frame.loc[:,['새벽 하차인원','출근시간 하차인원','09-16시 하차인원','야간 하차인원']].sum(axis=1)
    frame = frame[['사용월', '호선명', '지하철역', '출근시간 승차인원', '출근시간 하차인원', 
                    '09-16시 승차인원', '09-16시 하차인원', '퇴근시간 승차인원', '퇴근시간 하차인원',
                    '새벽 승차인원','새벽 하차인원','야간 승차인원', '야간 하차인원','총 승차인원','총 하차인원']]
    
    frame.loc[(frame['호선명'] == '2호선') & (frame['지하철역'] == '신천'), '지하철역'] = '잠실새내'

    frame.to_csv(f'../data/main/temp_files/{line}.csv',index=False,encoding='utf-8')