In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
now = datetime.now()
f_date = now.strftime('%Y%m%d')
df_st = pd.read_csv(f'data/{f_date}_SUBWAY_MONTH.csv', encoding='utf-8', sep=',')

- 호선별로 merge 파일 분리 단계
     - 데이터 한번에 정리해야 할 것들 분리 전에 미리 작업하기
    - -> (컬럼정리, 사용일자, 평일/주말 구분 등등..)

In [3]:
############# 요일, 주중/주말 ###################
import datetime
# 일자 기준 주중주말 표시한 컬럼 만들기
week_end = []
for i in range(len(df_st.index)):
    year = int(str(df_st.사용일자.values[i])[:4])
    mm = int(str(df_st.사용일자.values[i])[4:6])
    dd = int(str(df_st.사용일자.values[i])[0:][6:])
    week_end_dict = {0:'주중', 1:'주중', 2:'주중', 3:'주중', 4:'주중', 5:'주말', 6:'주말'}
    week_end.append(week_end_dict[datetime.date(year,mm,dd).weekday()])

# 주중/주말 column 생성
df_st['주중주말'] = week_end
df_st.head(600).tail()

         사용일자    호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 주중주말
595  20210101    일산선     원당    2909    2943     5852   주중
596  20210101    일산선     화정    4664    4946     9610   주중
597  20210101    일산선     대곡     456     412      868   주중
598  20210102    9호선     노들    1719    1527     3246   주말
599  20210102  우이신설선  삼양사거리    1112    1102     2214   주말

In [4]:
######### 파일 저장 - 주중주말 ver ###########
from datetime import datetime
now = datetime.now()
f_date = now.strftime('%Y%m%d')
df_st.to_csv(f'data/{f_date}_SUBWAY_MONTH_주중주말_일자ver.csv',index=False,encoding='utf-8')

In [18]:
# 다시 불러오기
df = pd.read_csv(f'data/{f_date}_SUBWAY_MONTH_주중주말_일자ver.csv', encoding='utf-8', sep=',')
df

            사용일자  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 주중주말
0       20210101  일산선     백석    2724    2825     5549   주중
1       20210101  일산선     마두    1638    1652     3290   주중
2       20210101  3호선  을지로3가    1024    1009     2033   주중
3       20210101  3호선   종로3가    1255    1632     2887   주중
4       20210101  3호선     안국    2934    3029     5963   주중
...          ...  ...    ...     ...     ...      ...  ...
219274  20211231  6호선     월곡   10214    9924    20138   주중
219275  20211231  6호선    상월곡    5619    4842    10461   주중
219276  20211231  6호선    돌곶이    8265    7811    16076   주중
219277  20211231  6호선     석계   11189   11335    22524   주중
219278  20211231  6호선   태릉입구    4954    5290    10244   주중

[219279 rows x 7 columns]

In [20]:
####### 사용일자별 #########
# 주말
df_end = df[df['주중주말'].values == '주말']
df_end.to_csv(f'data/{f_date}_SUBWAY_MONTH_주말_일자ver.csv', index=False, encoding='utf-8')

In [21]:
####### 사용일자별 #########
# 주중
df_day = df[df['주중주말'].values == '주중']
df_day.to_csv(f'data/{f_date}_SUBWAY_MONTH_주중_일자ver.csv', index=False, encoding='utf-8')

In [9]:
# 사용일자 --> 사용월
df.rename(columns={'사용일자':'사용월'}, inplace=True)

In [10]:
# 날짜 월 yyyymm 형태로 변경
ym_list = []
for x in range(len(df.index)):
    ym_list.append(str(df.사용월.values[x])[:6])
df.사용월 = ym_list
df

           사용월  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 주중주말
0       202101  일산선     백석    2724    2825     5549   주중
1       202101  일산선     마두    1638    1652     3290   주중
2       202101  3호선  을지로3가    1024    1009     2033   주중
3       202101  3호선   종로3가    1255    1632     2887   주중
4       202101  3호선     안국    2934    3029     5963   주중
...        ...  ...    ...     ...     ...      ...  ...
219274  202112  6호선     월곡   10214    9924    20138   주중
219275  202112  6호선    상월곡    5619    4842    10461   주중
219276  202112  6호선    돌곶이    8265    7811    16076   주중
219277  202112  6호선     석계   11189   11335    22524   주중
219278  202112  6호선   태릉입구    4954    5290    10244   주중

[219279 rows x 7 columns]

In [13]:
####### 주중주말_사용월ver 파일 저장 ##########
now = datetime.now()
f_date = now.strftime('%Y%m%d')
df_2 = df.to_csv(f'data/{f_date}_SUBWAY_MONTH_주중주말_월ver.csv', index=False, encoding='utf-8')

In [14]:
# 다시 불러옴 ->월ver 에서 주중 / 주말로 파일 나누기
df2 = pd.read_csv(f'data/{f_date}_SUBWAY_MONTH_주중주말_월ver.csv', encoding='utf-8', sep=',')
df2         # 219279 rows

           사용월  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 주중주말
0       202101  일산선     백석    2724    2825     5549   주중
1       202101  일산선     마두    1638    1652     3290   주중
2       202101  3호선  을지로3가    1024    1009     2033   주중
3       202101  3호선   종로3가    1255    1632     2887   주중
4       202101  3호선     안국    2934    3029     5963   주중
...        ...  ...    ...     ...     ...      ...  ...
219274  202112  6호선     월곡   10214    9924    20138   주중
219275  202112  6호선    상월곡    5619    4842    10461   주중
219276  202112  6호선    돌곶이    8265    7811    16076   주중
219277  202112  6호선     석계   11189   11335    22524   주중
219278  202112  6호선   태릉입구    4954    5290    10244   주중

[219279 rows x 7 columns]

In [15]:
# 주중
df_week_day = df2[df2['주중주말'].values == '주중']
df_week_day

           사용월  호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 주중주말
0       202101  일산선     백석    2724    2825     5549   주중
1       202101  일산선     마두    1638    1652     3290   주중
2       202101  3호선  을지로3가    1024    1009     2033   주중
3       202101  3호선   종로3가    1255    1632     2887   주중
4       202101  3호선     안국    2934    3029     5963   주중
...        ...  ...    ...     ...     ...      ...  ...
219274  202112  6호선     월곡   10214    9924    20138   주중
219275  202112  6호선    상월곡    5619    4842    10461   주중
219276  202112  6호선    돌곶이    8265    7811    16076   주중
219277  202112  6호선     석계   11189   11335    22524   주중
219278  202112  6호선   태릉입구    4954    5290    10244   주중

[156833 rows x 7 columns]

In [16]:
# 주중파일, 월ver 저장
df_week_day.to_csv(f'data/{f_date}_SUBWAY_MONTH_주중_월ver.csv', index=False, encoding='utf-8')

In [17]:
# 주말파일, 월ver 저장
df_week_end = df[df['주중주말'].values == '주말']
df_week_end.to_csv(f'data/{f_date}_SUBWAY_MONTH_주말_월ver.csv', index=False, encoding='utf-8')

In [31]:
# 주중, 주말 - 월ver 불러와서 확인
df_check = pd.read_csv(f'data/{f_date}_SUBWAY_MONTH_주말_월ver.csv', encoding='utf-8', sep=',')
df_check2 = pd.read_csv(f'data/{f_date}_SUBWAY_MONTH_주중_월ver.csv', encoding='utf-8', sep=',')
df_check        # 62446 rows
# df_check2           # 156833 rows

          사용월    호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 주중주말
0      202101    9호선     노들    1719    1527     3246   주말
1      202101  우이신설선  삼양사거리    1112    1102     2214   주말
2      202101  우이신설선     삼양     917    1019     1936   주말
3      202101  우이신설선     화계    1470    1315     2785   주말
4      202101  우이신설선    가오리    1653    1625     3278   주말
...       ...    ...    ...     ...     ...      ...  ...
62441  202112    8호선     암사    7207    7005    14212   주말
62442  202112    7호선   부평구청    2769    2615     5384   주말
62443  202112    7호선    굴포천    3769    3821     7590   주말
62444  202112    7호선  삼산체육관    2072    2018     4090   주말
62445  202112    7호선     상동    5930    5652    11582   주말

[62446 rows x 7 columns]