In [1]:
import numpy as np
import pandas as pd

In [51]:
df = pd.read_csv('data/test_csv1.csv',encoding='euc-kr',sep=',')

In [52]:
df.head()

       사용일자  노선명     역명  승차총승객수  하차총승객수      등록일자
0  20230101  경강선    곤지암    1450    1539  20230104
1  20230101  2호선    신도림   20210   21037  20230104
2  20230101  2호선     문래    5995    6567  20230104
3  20230101  2호선  영등포구청    5629    6117  20230104
4  20230101  2호선     당산    6821    7594  20230104

In [53]:
type(df.iloc[1,0])

numpy.int64

In [54]:
# 원하는 날짜 선택하는 방법
df2 = df[df['사용일자'] == 20230101].copy()
df2.head(120).tail(30)

         사용일자  노선명            역명  승차총승객수  하차총승객수      등록일자
90   20230101  2호선           신대방   12598   13518  20230104
91   20230101  2호선       구로디지털단지   20191   21323  20230104
92   20230101  2호선      대림(구로구청)   13744   14553  20230104
93   20230101  3호선            옥수    4181    4397  20230104
94   20230101  3호선           압구정   10452   10987  20230104
95   20230101  3호선            신사    9949    9492  20230104
96   20230101  3호선            잠원    1796    1958  20230104
97   20230101  3호선         고속터미널   37312   28175  20230104
98   20230101  3호선    교대(법원.검찰청)    3104    2032  20230104
99   20230101  3호선  남부터미널(예술의전당)   12350   11973  20230104
100  20230101  3호선      양재(서초구청)   10337   12326  20230104
101  20230101  3호선            매봉    3235    3338  20230104
102  20230101  3호선            도곡    1399    1479  20230104
103  20230101  3호선            대치    5513    4911  20230104
104  20230101  3호선           학여울     614     590  20230104
105  20230101  3호선            대청    3585    3794  20230104
106  20230101  3호선            일원    3125    3229  20230104
107  20230101  3호선            수서    9989    9358  20230104
108  20230101  3호선          가락시장    2964    2996  20230104
109  20230101  3호선          경찰병원    2363    2617  20230104
110  20230101  3호선            오금    2188    2307  20230104
111  20230101  4호선           당고개    4761    4416  20230104
112  20230101  4호선            상계    8956    8306  20230104
113  20230101  4호선            노원   10043   10881  20230104
114  20230101  4호선            창동   12214   12690  20230104
115  20230101  4호선            쌍문   13431   12498  20230104
116  20230101  4호선      수유(강북구청)   17305   17325  20230104
117  20230101  4호선   미아(서울사이버대학)    7058    7134  20230104
118  20230101  4호선         미아사거리   12869   12574  20230104
119  20230101  4호선            길음    8614    8621  20230104

In [64]:
# 원하는 기간 선택하는 방법
df3 = df[(df['사용일자'] >= 20230101) & (df['사용일자'] < 20230106)].copy()
df3.tail()

          사용일자  노선명        역명  승차총승객수  하차총승객수      등록일자
3026  20230105  2호선  대림(구로구청)   24732   25146  20230108
3027  20230105  2호선       신도림   51289   50137  20230108
3028  20230105  2호선        문래   23533   23869  20230108
3029  20230105  2호선     영등포구청   23559   24320  20230108
3030  20230105  2호선        합정   32640   35409  20230108

In [ ]:
# 등록일자는 삭제해도 ㄱㅊ