In [2]:
import pandas as pd
import numpy as np

In [3]:
# 주말 파일 불러옴
df = pd.read_csv('data/2021_주말.csv', encoding='utf-8', sep=',')
df

         사용일자    호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수
0      202101    9호선     노들    1719    1527     3246
1      202101  우이신설선  삼양사거리    1112    1102     2214
2      202101  우이신설선     삼양     917    1019     1936
3      202101  우이신설선     화계    1470    1315     2785
4      202101  우이신설선    가오리    1653    1625     3278
...       ...    ...    ...     ...     ...      ...
62441  202112    8호선     암사    7207    7005    14212
62442  202112    7호선   부평구청    2769    2615     5384
62443  202112    7호선    굴포천    3769    3821     7590
62444  202112    7호선  삼산체육관    2072    2018     4090
62445  202112    7호선     상동    5930    5652    11582

[62446 rows x 6 columns]

In [53]:
# 사용일자 슬라이싱 -> yyyymm 형태로
ym_list = []
for x in range(len(df.index)):
    ym_list.append(str(df.사용일자.values[x])[:6])

df['사용일자'] = ym_list

In [55]:
# 주말 파일 새로 저장
df = df.to_csv('data/2021_주말.csv', index=False, encoding='utf-8')
# 새파일 다시 열기
df1 = pd.read_csv('data/2021_주말.csv', encoding='utf-8', sep=',')
df1

         사용일자    호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수
0      202101    9호선     노들    1719    1527     3246
1      202101  우이신설선  삼양사거리    1112    1102     2214
2      202101  우이신설선     삼양     917    1019     1936
3      202101  우이신설선     화계    1470    1315     2785
4      202101  우이신설선    가오리    1653    1625     3278
...       ...    ...    ...     ...     ...      ...
62441  202112    8호선     암사    7207    7005    14212
62442  202112    7호선   부평구청    2769    2615     5384
62443  202112    7호선    굴포천    3769    3821     7590
62444  202112    7호선  삼산체육관    2072    2018     4090
62445  202112    7호선     상동    5930    5652    11582

[62446 rows x 6 columns]

In [7]:
# 호선 병합하기- 병합할 호선 리스트업
# lines_1 = ['경부선':'1호선', '경원선':'1호선','경인선':'1호선','장항선':'1호선']
# lines_1 = ['경부선', '경원선','경인선','장항선']
# df['1호선'] = [df['호선명'].str.strip().isin(lines_1)]
df['호선명'].unique()

array(['9호선', '우이신설선', '안산선', '중앙선', '장항선', '일산선', '경인선', '수인선', '분당선',
       '과천선', '공항철도 1호선', '경춘선', '경의선', '경원선', '경부선', '경강선', '9호선2~3단계',
       '8호선', '7호선', '6호선', '5호선', '4호선', '3호선', '2호선', '1호선'],
      dtype=object)

In [ ]:
# 도, 특례시, 광역시 데이터 제거하기(~시로 끝나는 데이터만 필터링 .str.endswith()
lines1 = ['경부선', '경원선','경인선','장항선']

change_names = []
# for names in df[df.행정구역구분명 == '시군'].names:
if df.호선명.str.isin(lines1):    # split의 -1자리 값이 lines1중에 있다면
    change_names.append('1호선')
change_names

(str(df.사용일자.values[x])[:6])

df.change(change_names, inplace=True)
df.head()

In [11]:
lines_1 = ['경부선', '경원선','경인선','장항선']
lines_2 = []
lines_3 = ['일산선']
lines_4 = ['과천선','안산선']
lines_9 = ['9호선2~3단계']
lines_s = ['수인선','분당선']

# df[df['호선명'].str.strip().isin(lines1)].replace({'호선명':})
# df[df.replace({'호선명': {'경부선':'1호선'}})

ValueError: Boolean array expected for the condition, not int64