In [1]:
import pandas as pd
import numpy as np

In [2]:
# 주말 파일 불러옴
df = pd.read_csv('data/2021_주말.csv', encoding='utf-8', sep=',')
df

           사용일자    호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 평일주말
0      20210102    9호선     노들    1719    1527     3246   주말
1      20210102  우이신설선  삼양사거리    1112    1102     2214   주말
2      20210102  우이신설선     삼양     917    1019     1936   주말
3      20210102  우이신설선     화계    1470    1315     2785   주말
4      20210102  우이신설선    가오리    1653    1625     3278   주말
...         ...    ...    ...     ...     ...      ...  ...
62441  20211226    8호선     암사    7207    7005    14212   주말
62442  20211226    7호선   부평구청    2769    2615     5384   주말
62443  20211226    7호선    굴포천    3769    3821     7590   주말
62444  20211226    7호선  삼산체육관    2072    2018     4090   주말
62445  20211226    7호선     상동    5930    5652    11582   주말

[62446 rows x 7 columns]

In [3]:
# 사용일자 --> 사용월(.astype=('int'))
df.rename(columns={'사용일자':'사용월'}, inplace=True)

In [ ]:
df.drop(columns='평일주말', inplace=True)

In [18]:
# 사용일자 슬라이싱 -> yyyymm 형태로
ym_list = []
for x in range(len(df.index)):
    ym_list.append(str(df.사용월.values[x])[:6])
df.사용월 = ym_list
df.사용월.astype=('int')
df

AttributeError: 'NoneType' object has no attribute 'index'

In [6]:
df['호선명'].nunique()

25

In [7]:
# 주말 파일 새로 저장
df = df.to_csv('data/2021_주말.csv', index=False, encoding='utf-8')
# 새파일 다시 열기
df2 = pd.read_csv('data/2021_주말.csv', encoding='utf-8', sep=',')
df2

          사용월    호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 평일주말
0      202101    9호선     노들    1719    1527     3246   주말
1      202101  우이신설선  삼양사거리    1112    1102     2214   주말
2      202101  우이신설선     삼양     917    1019     1936   주말
3      202101  우이신설선     화계    1470    1315     2785   주말
4      202101  우이신설선    가오리    1653    1625     3278   주말
...       ...    ...    ...     ...     ...      ...  ...
62441  202112    8호선     암사    7207    7005    14212   주말
62442  202112    7호선   부평구청    2769    2615     5384   주말
62443  202112    7호선    굴포천    3769    3821     7590   주말
62444  202112    7호선  삼산체육관    2072    2018     4090   주말
62445  202112    7호선     상동    5930    5652    11582   주말

[62446 rows x 7 columns]

In [14]:
# 흩어진 노선 모아서 -> 대표노선으로 통합(replace로 값 바꿈)
df2.replace({'호선명': ['1호선','경부선','경원선','경인선','장항선']},'1호선' ,inplace=True)
df2.replace({'호선명':'2호선'},'2호선' ,inplace=True)
df2.replace({'호선명':'5호선'},'5호선' ,inplace=True)
df2.replace({'호선명':'7호선'},'7호선' ,inplace=True)
df2.replace({'호선명':'8호선'},'8호선' ,inplace=True)
df2.replace({'호선명': ['3호선','일산선']}, '3호선' ,inplace=True)
df2.replace({'호선명': ['4호선','과천선','안산선']}, '4호선' ,inplace=True)
df2.replace({'호선명': ['9호선','9호선2~3단계']}, '9호선' ,inplace=True)
df2.replace({'호선명': ['수인선','분당선']}, '수인분당선' ,inplace=True)
df2.replace({'호선명': ['경의선','중앙선']}, '경의중앙선' ,inplace=True)

In [15]:
df2['호선명'].nunique(), df2.호선명.unique()

(15,
 array(['9호선', '우이신설선', '4호선', '경의중앙선', '1호선', '3호선', '수인분당선', '공항철도 1호선',
        '경춘선', '경강선', '8호선', '7호선', '6호선', '5호선', '2호선'], dtype=object))

In [16]:
df2

          사용월    호선명   지하철역  승차총승객수  하차총승객수  승하차총승객수 평일주말
0      202101    9호선     노들    1719    1527     3246   주말
1      202101  우이신설선  삼양사거리    1112    1102     2214   주말
2      202101  우이신설선     삼양     917    1019     1936   주말
3      202101  우이신설선     화계    1470    1315     2785   주말
4      202101  우이신설선    가오리    1653    1625     3278   주말
...       ...    ...    ...     ...     ...      ...  ...
62441  202112    8호선     암사    7207    7005    14212   주말
62442  202112    7호선   부평구청    2769    2615     5384   주말
62443  202112    7호선    굴포천    3769    3821     7590   주말
62444  202112    7호선  삼산체육관    2072    2018     4090   주말
62445  202112    7호선     상동    5930    5652    11582   주말

[62446 rows x 7 columns]

In [17]:
# 주말 파일 새로 저장
df = df2.to_csv('data/2021_주말.csv', index=False, encoding='utf-8')
# 새파일 다시 열기

In [86]:
# 파일 이름응로 저장하기
line_info = [
    df.replace({'호선명': ['1호선','경부선','경원선','경인선','장항선']}, '1호선', inplace=True),
    df.replace({'호선명':'2호선'},'2호선' ,inplace=True),
    df.replace({'호선명':'5호선'},'5호선' ,inplace=True),
    df.replace({'호선명':'7호선'},'7호선' ,inplace=True),
    df.replace({'호선명':'8호선'},'8호선' ,inplace=True),
    df.replace({'호선명': ['3호선','일산선']}, '3호선' ,inplace=True),
    df.replace({'호선명': ['4호선','과천선','안산선']}, '4호선' ,inplace=True),
    df.replace({'호선명': ['9호선','9호선2~3단계']}, '9호선' ,inplace=True),
    df.replace({'호선명': ['수인선','분당선']}, '수인분당선' ,inplace=True),
    df.replace({'호선명': ['경의선','용산선','중앙선']}, '경의중앙선' ,inplace=True)
]

for df_list, line_name in line_info:
    df_copies = []
    for file in df_list:
        df = pd.read_csv(file)
        df_copies.append(df.copy())
    result = pd.concat(df_copies, axis=0)
    result = result.reset_index(drop=True)
    result.호선명 = line_name
    cols = list(result.columns)[:3]
    target = list(result.columns)[3:]
    res = result.groupby(cols)[target].agg('sum').reset_index()
    res.to_csv(f'./lines/{line_name}.csv', index=False)

TypeError: cannot unpack non-iterable NoneType object