In [3]:
import pandas as pd

In [4]:
df_자연 = pd.read_csv('data/서울_자연_final.csv')
df_쇼핑 = pd.read_csv('data/서울_쇼핑_final.csv')
df_문화 = pd.read_csv('data/서울_문화공간_final.csv')
df_명소1 = pd.read_csv('data/서울_문화_명소_final.csv')
df_명소2 = pd.read_csv('data/서울_명소_명소_final.csv')

In [32]:
df_자연.head()

      관광지명                         도로명주소        lat         lng
0    월드컵공원                 마포구 하늘공원로 86   37.571598  126.881674
1  양재시민의 숲                 매헌로 99 (양재동)   37.473050  127.036977
2  여의도 공원   여의공원로 68 (여의도동, 여의도공원관리사무소)   37.526809  126.922284
3     몽촌토성              올림픽로 424  (방이동)   37.520340  127.115518
4     남산공원                     삼일대로 231   37.555633  126.992218

In [5]:
# 분류 컬럼 추가
df_자연['분류'] = '자연'
df_쇼핑['분류'] = '쇼핑'
df_문화['분류'] ='문화'
df_명소1['분류'] = '명소'
df_명소2['분류'] = '명소'
df_문화.head()

   Unnamed: 0            관광지명        lat         lng  분류
0           0           경희대학교  37.593949  127.054891  문화
1           1  DDP(동대문디자인플라자)  37.566813  127.009626  문화
2           2            우란2경  37.543790  127.054417  문화
3           3      구립은평뉴타운도서관  37.637230  126.933118  문화
4           4        노원문화예술회관  37.650236  127.080269  문화

In [34]:
df_자연.isna().sum().sum()  # 0
df_쇼핑.isna().sum().sum()    # 0
df_문화.isna().sum().sum()  # 0
df_명소1.isna().sum().sum() # 0
df_명소2.isna().sum().sum() # 0

0

In [6]:
df_명소 = pd.concat([df_명소1, df_명소2])
df_명소.shape

(241, 5)

In [5]:
df_명소 = df_명소.reset_index(drop=True)
df_명소.to_csv('data/서울_명소1,2_final', index=False)

In [6]:
df_명소 = pd.read_csv('data/서울_명소1,2_final', encoding='utf-8', sep=',')
df_명소.tail()

         관광지명                     도로명주소        lat         lng  분류
236       조계사        종로구 우정국로 55 (조계사)   37.573134  126.994864  명소
237        종묘   종로구 종로 157 (훈정동, 종묘공원)   37.577624  126.993841  명소
238       창경궁  종로구 창경궁로 185 (와룡동, 창경궁)   37.577624  126.993841  명소
239  창경궁 대온실   종로구 창경궁로 185 (와룡동, 창경궁)   37.578870  126.989710  명소
240       창덕궁    종로구 율곡로 99 (와룡동, 창덕궁)   37.515429  127.120801  명소

In [7]:
df_자연 = df_자연.to_csv('data/서울_자연_final.csv',  index=False)
df_쇼핑 = df_쇼핑.to_csv('data/서울_쇼핑_final.csv',  index=False)
df_문화 = df_문화.to_csv('data/서울_문화_final.csv',  index=False)
df_명소 = df_명소.to_csv('data/서울_명소_final.csv', index=False)

In [14]:
df_자연 = pd.read_csv('data/서울_자연_final.csv')
df_쇼핑 = pd.read_csv('data/서울_쇼핑_final.csv')
df_문화 = pd.read_csv('data/서울_문화_final.csv')
df_명소 = pd.read_csv('data/서울_명소_final.csv')

In [9]:
df_자연

            관광지명                          도로명주소        lat         lng  분류
0          월드컵공원                  마포구 하늘공원로 86   37.571598  126.881674  자연
1        양재시민의 숲                  매헌로 99 (양재동)   37.473050  127.036977  자연
2        여의도 공원    여의공원로 68 (여의도동, 여의도공원관리사무소)   37.526809  126.922284  자연
3           몽촌토성               올림픽로 424  (방이동)   37.520340  127.115518  자연
4           남산공원                      삼일대로 231   37.555633  126.992218  자연
..           ...                            ...        ...         ...  ..
86  월드컵공원 반려견놀이터             증산로 32 (상암동, 안내소)   37.527432  126.830087  자연
87        남산예장공원               퇴계로26길 36 (예장동)   37.518718  126.921949  자연
88        선유도 공원          선유로 343 (당산동, 선유도공원)   37.509063  127.097868  자연
89          구암공원     허준로5길 42 (가양동, 구암공원관리사무실)   37.534831  126.987028  자연
90     감로천 생태공원   독산로54길 188 (독산동, 금천구민문화체육센터)   37.601382  126.961955  자연

[91 rows x 5 columns]

In [10]:
df_쇼핑

,관광지명,도로명주소,lat,lng,분류
0,통인시장,자하문로15길 18,37.580767,126.969948,쇼핑
1,신사동 가로수길,압구정로 120 일대,37.523606,127.021903,쇼핑
2,풍월당,"도산대로53길 39 (신사동, 신사동 C/K빌딩)",37.525828,127.038922,쇼핑
3,화개길 구두거리,화동화개길,37.535725,127.095692,쇼핑
4,테크노마트,광나루로56길 85 (구의동 546-4),37.563091,126.982958,쇼핑
...,...,...,...,...,...
135,공덕시장,"마포구 만리재로 19 (공덕동, 공덕시장)",37.477615,127.124962,쇼핑
136,커먼그라운드,광진구 아차산로 200 (자양동) 커먼그라운드,37.562090,126.985040,쇼핑
137,상생상회,종로구 율곡로 39 (안국동) 안국빌딩 신관 1층/B1 층,37.544548,127.059042,쇼핑
138,아더 스페이스 3.0 플래그십 스토어,"강남구 도산대로11길 31 (신사동, 에스에이치스페이스)",37.563929,126.986034,쇼핑
139,남대문시장 칼국수골목,중구 남대문시장4길 42-1 (남창동),37.506220,127.005052,쇼핑

In [15]:
df_명소

         관광지명                        도로명주소        lat         lng  분류
0      세종문화회관   서울 종로구 세종대로 175  (세종문화회관)   37.571848  126.976168  명소
1     명동실탄사격장       서울 중구 명동8가길 27 선샤인빌딩3층  37.562001  126.986564  명소
2       서울랜드   경기 과천시 광명로 181 (막계동, 서울랜드)   37.436547  127.024045  명소
3         예지원    서울특별시 중구 장충단로 72 (장충동2가)   37.551638  127.002523  명소
4     DMC 홍보관   서울특별시 마포구 월드컵북로 366 (상암동)   37.577695  126.892115  명소
..        ...                          ...        ...         ...  ..
236       조계사           종로구 우정국로 55 (조계사)   37.573134  126.994864  명소
237        종묘      종로구 종로 157 (훈정동, 종묘공원)   37.577624  126.993841  명소
238       창경궁     종로구 창경궁로 185 (와룡동, 창경궁)   37.577624  126.993841  명소
239  창경궁 대온실      종로구 창경궁로 185 (와룡동, 창경궁)   37.578870  126.989710  명소
240       창덕궁       종로구 율곡로 99 (와룡동, 창덕궁)   37.515429  127.120801  명소

[241 rows x 5 columns]

In [17]:
df_문화2 = df_문화.to_csv('data/서울_문화_final.csv', index=False)

In [20]:
df_문화3= pd.read_csv('data/서울_문화_final.csv')

In [21]:
df_문화3

     Unnamed: 0            관광지명        lat         lng  분류
0             0           경희대학교  37.593949  127.054891  문화
1             1  DDP(동대문디자인플라자)  37.566813  127.009626  문화
2             2            우란2경  37.543790  127.054417  문화
3             3      구립은평뉴타운도서관  37.637230  126.933118  문화
4             4        노원문화예술회관  37.650236  127.080269  문화
..          ...             ...        ...         ...  ..
810         811  목동종합운동장실내아이스링크  37.530728  126.879233  문화
811         812           강서도서관  37.547903  126.859928  문화
812         813        송파글마루도서관  37.480834  127.130478  문화
813         814        영등포평생학습관  37.527007  126.907703  문화
814         815          갤러리 조은  37.538032  127.000743  문화

[815 rows x 5 columns]

In [ ]:
df_문화3.drop(df_문화3['Unnamed: 0	'])
df_문화3

In [27]:
df_문화4 = df_문화3.reset_index(drop=True)
df_문화4

     Unnamed: 0            관광지명        lat         lng  분류
0             0           경희대학교  37.593949  127.054891  문화
1             1  DDP(동대문디자인플라자)  37.566813  127.009626  문화
2             2            우란2경  37.543790  127.054417  문화
3             3      구립은평뉴타운도서관  37.637230  126.933118  문화
4             4        노원문화예술회관  37.650236  127.080269  문화
..          ...             ...        ...         ...  ..
810         811  목동종합운동장실내아이스링크  37.530728  126.879233  문화
811         812           강서도서관  37.547903  126.859928  문화
812         813        송파글마루도서관  37.480834  127.130478  문화
813         814        영등포평생학습관  37.527007  126.907703  문화
814         815          갤러리 조은  37.538032  127.000743  문화

[815 rows x 5 columns]

In [30]:
df_서울 = pd.concat([df_명소, df_자연, df_쇼핑, df_문화])
df_서울.분류.unique()

array(['명소', '자연', '쇼핑', '문화'], dtype=object)

In [31]:
df_서울.head()

      관광지명                        도로명주소        lat         lng  분류  Unnamed: 0
0   세종문화회관   서울 종로구 세종대로 175  (세종문화회관)   37.571848  126.976168  명소         NaN
1  명동실탄사격장       서울 중구 명동8가길 27 선샤인빌딩3층  37.562001  126.986564  명소         NaN
2    서울랜드   경기 과천시 광명로 181 (막계동, 서울랜드)   37.436547  127.024045  명소         NaN
3      예지원    서울특별시 중구 장충단로 72 (장충동2가)   37.551638  127.002523  명소         NaN
4  DMC 홍보관   서울특별시 마포구 월드컵북로 366 (상암동)   37.577695  126.892115  명소         NaN

In [ ]:
df_서울 = df_서울.to_csv('data/서울.csv', index=False)

In [35]:
df_서울t = pd.read_csv('data/서울.csv')
df_서울t

,관광지명,도로명주소,lat,lng,분류,Unnamed: 0
0,세종문화회관,서울 종로구 세종대로 175 (세종문화회관),37.571848,126.976168,명소,NaN
1,명동실탄사격장,서울 중구 명동8가길 27 선샤인빌딩3층,37.562001,126.986564,명소,NaN
2,서울랜드,"경기 과천시 광명로 181 (막계동, 서울랜드)",37.436547,127.024045,명소,NaN
3,예지원,서울특별시 중구 장충단로 72 (장충동2가),37.551638,127.002523,명소,NaN
4,DMC 홍보관,서울특별시 마포구 월드컵북로 366 (상암동),37.577695,126.892115,명소,NaN
...,...,...,...,...,...,...
1282,목동종합운동장실내아이스링크,NaN,37.530728,126.879233,문화,811.0
1283,강서도서관,NaN,37.547903,126.859928,문화,812.0
1284,송파글마루도서관,NaN,37.480834,127.130478,문화,813.0
1285,영등포평생학습관,NaN,37.527007,126.907703,문화,814.0
1286,갤러리 조은,NaN,37.538032,127.000743,문화,815.0